.PartsEditor {

    & > .Editor {
        margin: 30px 0 0 0;
        
        & > .ui.table {

            & > thead > tr > th:last-child {
                padding-right: 0;
                padding-left: 100px;
            }

            & > tbody > tr > td:last-child {
                padding-right: 0;
                padding-left: 100px;
            }

            & > tfoot > tr {

                & > th:first-child {

                    & > .ui.input {
                        width: 300px;
                        margin-right: 5px;
                    }
                }

                & > th:last-child {
                    padding-right: 55px;
                }
            }
        }
    }
}