.PartsEditor {

    & > .Editor {
        margin: 30px 0 0 0;
        
        & > .Quality {

            & > .ui.form > .field > i {
                margin-left: 25px;
            }
        }
    }

    & > .Confirm {
        margin-top: 20px;

        & > .ui.input {
            width: 300px;
            margin-right: 5px;
        }
    }
}