@import 'Assets/scss/common';

.CompendiumSidebar {
    & > .ui.vertical.menu {
        overflow-y: scroll;
        
        & > .item {
            padding-bottom: 0;
            padding-left: 8px;
            
            &.header {
                padding-bottom: 0;
            }
        }

        & > .input {
            margin: 10px;
            width: calc(#{$sidebar-width} - 30px);
        }
    }
}