@import 'common';

.LandingPage {
    padding: 15px;
    height: 100%;

    & > .content {

        & > .MainHeader {
            display: flex;
            justify-content: center;

            & > .ui.image {
                width: 60px;
                height: 60px;
                margin-right: 7px;
            }

            & > .Title {

                & > .title {
                    margin: 0;
                    font-size: 45px;
                }

                & > .subtitle {
                    margin: 0 0 0 5px;
                }
            }
        }

        & > .tag > p {
            text-align: justify;
            padding: 0 25%;
            font-size: $main-font-size;
            color: $main-font-color;
            margin: 20px 0 25px 0;

            & > a {
                color: $main-font-color;
                cursor: pointer;
                font-weight: bold;
                text-decoration: underline;
            }
        }

        & > .button {
            display: flex;
            justify-content: center;
        }
    }

    & > .socials {
        position: absolute;
        bottom: 15px;

        & > .buttons > .ui.button {
            background: none;
            text-align: left;
            padding-left: 40px;

            & > i {
                font-size: 20px;
                background: none;
            }
        }
    }
}