@import 'common';

.StatsEditor {
    padding: $section-padding;
    height: 100%;
    width: $content-width;

    & > p {
        padding: 0 20px;
    }

    .content {
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
    }

    .Section {
        padding-bottom: 30px;

        &.Age {
            & > .ui.header {
                margin: 0;
            }
        }
    }

    & .ui.table {
        width: 400px;
        margin: 0;
    }
}