@import 'config';

* {
    box-sizing: border-box;
}

#root {
    height: 100%;
}

.centered {
    text-align: center;
}

.thirds {
    width: 33%;
}

.fifths {
    width: 20%;
}

.halfs {
    width: 50%;
}