@import 'config';

* {
    box-sizing: border-box;
}

#root {
    height: 100%;
}

.centered {
    text-align: center;
}

.thirds {
    width: 33%;
}

.fourths {
    width: 25%;
}

.fifths {
    width: 20%;
}

.halfs {
    width: 50%;
}

.ui.section.header {
    font-size: $header-font-size;
    color: $main-font-color;
    position: relative;
    overflow: hidden;
    text-align: center;

    &:before, &:after {
        position: absolute;
        top: 51%;
        overflow: hidden;
        width: 50%;
        height: 2px;
        content: '\a0';
        background-color: $main-font-color;
    }
    &:before {
        margin-left: -51%;
        text-align: right;
    }
    &:after {
        margin-left: 1%;
    }
}

.error {
    color: red;
}

.hidden {
    visibility: hidden;
}

p {
    text-align: justify;
}