// Colors
$main-font-color: #1B1C1D;
$secondary-font-color: #FFFFFF;
$sidebar-font-color: #A9A9A9;
$header-background-color: #1B1C1D;

// App
$main-font-size: 15px;

// Header
$header-height: 55px;
$header-logo-size: 35px;

// Sidebar
$sidebar-width: 332px;

// Compendium
$compendium-card-width: 800px;