.MissilesEditor {

    & > .Description {
        text-align: justify;
    }

    & > .Editor {
        margin: 30px 0 0 0;

        & > .Quality {

            & > .ui.form > .field > p {
                margin-left: 25px;
                font-style: italic;
            }
        }

        & > .Addons {

            & > .ui.list > .item > .content > i {
                cursor: pointer;
            }

            & > .ui.dropdown {
                margin-right: 10px;
            }
        }
    }

    & > .Confirm {
        margin-top: 20px;

        & > .ui.input {
            width: 300px;
            margin-right: 5px;
        }
    }
}