.SimpleEditor {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    & > .ui.card {
        width: 48%;
        height: 125px;

        &.disabled {
            background-color: lightgray;
        }

        &:first-child {
            margin-top: 1em;
        }

        & > .content {

            & > .header {
                display: flex;
                justify-content: space-between;

                & > p {
                    font-size: 15px;
                }
            }

            & > .description {
                text-align: justify;
                font-size: 12px;
            }

            & > .CardInput {
                position: absolute;
                display: flex;
                align-items: center;
                top: 50%;
                width: calc(100% - 28px);

                & > .ui.input {
                    margin-right: 5px;
                    width: calc(100% - 80px);
                }
            }
        }
    }
}