@import 'common';

.ResourcesEditor {
    padding: $section-padding;
    height: 100%;
    width: $content-width;

    & > .content {

        & > .Points {
            margin-bottom: 30px;
        }

        & > .ComplexEditors {
            display: flex;
            justify-content: space-around;
            margin-bottom: 20px;
        }
    }
}