@import 'Assets/scss/common';

.ResourcesEditor {
    padding: $section-padding;
    height: 100%;
    width: $content-width;

    & > .content {
        padding: 0 20px 15px 20px;

        & > .Points {
            display: flex;
            margin-bottom: 30px;

            & > .ui.card.ResourcePointsCard {
                width: 27%;
                margin: 0 20px 0 0;

                & > .content > .header {
                    display: flex;
                    justify-content: space-between;

                    & > p {
                        margin: auto 0;
                    }
                }
            }

            & > .AllResources {
                margin: auto 0;
            }
        }

        & > div > .ui.menu > .item:last-child {
            display: none;
        }
    }
}