.SteelModal {
    & > .actions {
        display: flex;
        justify-content: space-between;

        & > .ui.header {
            margin: auto 0;
        }

        & > div > button:first-child {
            margin-right: 10px;
        }
    }
}