.LifepathList {
    padding: 10px 0;

    & > .ui.header.LifepathHeader {
        margin: 10px 0;
    }

    & > .CardList > .ListContent > .Card {
        padding-left: 0;
        padding-right: 0;
    }
}