.Pool.ui.card, .Pool.ui.card:last-child {
    width: 225px;
    margin: 0 10px 10px 0;

    & > .content > .header:not(.ui) {
        display: flex;
        justify-content: space-between;
        margin: auto 0;

        & > .ui.header {
            margin: auto 0;
        }

        & > p {
            height: 36px;
            line-height: 36px;
            padding-right: 11px;
        }
    }
}