.BonusSelector {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;

    & > .ui.header {
        margin: auto 5px auto 0;
    }

    & > .Bonuses {

        & > .ui.buttons {
            padding: 10px 10px 0 0;
        }
    }
}