@import 'common';

.Header {
    .ui.inverted.menu {
        height: $header-height;
        border-radius: 0;

        .item {            
            &:first-child {
                font-weight: bold;
                font-size: $main-font-size;
            }

            img {
                width: $header-logo-size;
                height: $header-logo-size;
                margin-right: 10px;
            }
        }
    }
}