@import 'common';

.Header {
    .ui.menu {
        height: $header-height;
        border-radius: 0;

        .item {

            &:first-child {
                font-weight: bold;
                font-size: 15px;
            }

            img {
                width: $header-logo-size;
                height: $header-logo-size;
                margin-right: 5px;
            }
        }
    }
}