@import 'common';

.Card {
    width: $compendium-card-width;

    .ui.card {
        width: inherit;
        
        .content .header {
            display: flex;
            justify-content: space-between;
            
            .link.icon {
                text-align: start;
                width: 3%;
                color: $secondary-font-color;

                &:hover {
                    color: $main-font-color;
                }
            }

            .header.content {
                width: 67%;
                display: flex;
                justify-content: space-between;

                .centered {
                    text-align: center;
                }

                .thirds {
                    width: 33%;
                }

                .fifths {
                    width: 20%;
                }

                .halfs {
                    width: 50%;
                }
            }

            .left.content {
                text-align: end;
                width: 30%;
            }
        }
    }
}