@import 'common';

.ui.large.modal.AddModal {

    & > .header {
        font-size: 30px;
        padding: 10px calc(#{$compendium-card-padding} + #{$modal-content-padding});
    }

    & > .content {
        padding: 15px $modal-content-padding;

        & > .ContentHeader {
            display: flex;
            justify-content: space-between;

            & > .ui.input {
                width: 300px;
                margin: 0 $compendium-card-padding;
            }

            & > .SettingsDropdown {
                display: flex;
                margin: auto $compendium-card-padding;

                & > .ui.header {
                    margin: auto 10px auto 0;
                }
            }
        }

        & > .choices .NoContent {
            font-size: 15px;
            margin: 10px #{$compendium-card-padding + 2px};
        }
    }

    & > .actions {
        padding: 0;
    }
}