@import 'Assets/scss/common';

.CollapsableSidebar {
    height: inherit;

    & > .ui.vertical.menu {
        height: inherit;
        border-radius: 0;
        width: $sidebar-width;
        margin: 0;

        &.Collapsed {
            display: none;
        }
    }

    & > .Collapse {
        position: absolute;
        top: $header-height;
        left: $sidebar-width;
        width: 20px;
        height: calc(100% - #{$header-height});

        &.Collapsed {
            left: 0;

            & > i.icon.circular {
                left: -7px;
            }
        }

        & > i.icon.circular {
            position: relative;
            top: 16px;
            left: -11px;
            box-shadow: none;
            cursor: pointer;
            color: $main-font-color;
            background-color: white;
            border: 1px solid rgba($color: black, $alpha: 0.2);
        }

        &:hover {
            cursor: pointer;

            & > i.icon.circular {
                color: white;
                background-color: $main-font-color;
                border: 1px solid rgba($color: white, $alpha: 0.2);
            }
        }
    }
}