@import 'common';

.Lifepath {
    width: $compendium-card-width;

    .ui.card {
        width: inherit;
        
        .content .header {
            display: flex;
            justify-content: space-between;
        }
    }
}