.ResourceCard.ui.card {
    width: 80%;
    height: 90px;

    &.disabled {
        background-color: lightgray;
    }

    &:first-child {
        margin-top: 1em;
    }

    & > .content {

        & > .header {
            display: flex;
            justify-content: space-between;

            & > p {
                font-size: 15px;
            }
        }

        & > .CustomInput {
            position: absolute;
            top: 50%;
            width: calc(100% - 28px);
        
            & > .ui.input {
                width: calc(100% - 80px);
            }
        }

        & > .description {
            text-align: justify;
            font-size: 12px;
        }
    }
}